<h2>Akshay Law Firm</h2><br>
<mat-tab-group #tabRef>
  <!-- <mat-tab label="India"> Indian Army </mat-tab>
  <mat-tab label="USA"> US Navy </mat-tab>
  <mat-tab label="UK"> Royal Airforce </mat-tab> -->
  <!-- <mdb-tabs [vertical]="true">
    <mdb-tab title="Home">Home content</mdb-tab>
    <mdb-tab title="Profile">Profile content</mdb-tab>
    <mdb-tab title="Messages">Messages content</mdb-tab>
  </mdb-tabs>

  <mdb-tabs>
    <mdb-tab title="Tab 1">Tab content 1</mdb-tab>
    <mdb-tab title="Tab 2">Tab content 2</mdb-tab>
    <mdb-tab title="Tab 3">Tab content 3</mdb-tab>
  </mdb-tabs> -->

  <mat-tab>
    <ng-template mat-tab-label> Army Law </ng-template>
    Some Material components depend on the Angular animations module in order to be able to do more advanced transitions. If you want these animations to work in your app, you have to install the @angular/animations module and include the BrowserAnimationsModule in your app.
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label> Navy Law </ng-template>
    Some Material components depend on the Angular animations module in order to be able to do more advanced transitions. If you want these animations to work in your app, you have to install the @angular/animations module and include the BrowserAnimationsModule in your app.
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label> Airforce Law </ng-template>
    Some Material components depend on the Angular animations module in order to be able to do more advanced transitions. If you want these animations to work in your app, you have to install the @angular/animations module and include the BrowserAnimationsModule in your app.
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label> New Law </ng-template>
    Some Material components depend on the Angular animations module in order to be able to do more advanced transitions. If you want these animations to work in your app, you have to install the @angular/animations module and include the BrowserAnimationsModule in your app.
  </mat-tab>
<!-- //  <mat-tab label="Japan"> Tab Panel 4 </mat-tab> -->
<!-- </mat-tab-group>  -->
<!-- {{tabRef.selectedIndex}} -->

<!-- <div mdbDropdown class="dropdown">
  <button
    class="btn btn-primary dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    aria-expanded="false"
    mdbDropdownToggle
  >
    Dropdown button
  </button>
  <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div> -->
